html {
    background-color:#ffffe0;}


body{
    width: 800px;
    margin: 0 auto;
    font-family:Helvetica, Helvetica Neue, sans-serif;
    font-size: 14px;
    background-color:#66ffcc;
    border-width: 2px;
    border-color:#cccccc;}

#content {
    overflow: auto;
    height: 100%;}

#nav, #footer {
    background-color:#000000;
    padding: 0px;
    margin: 0px;
    width: 100%;}

#feature {
    background-color:#ffffff;
    padding: 0px;
    margin: 0px;
    width: 100%;}

.column1, .column2, .column3 {
    background-color: #ffffff;
    width: 300px;
    float: left;
    margin: 10px;}
li {
    display: inline;
    padding: 5px;}

h1, h2, h3 {
    color: #ffffff;
    background-color:#000000; 
    text-shadow: 1px 1px #D8D8D8;
    text-align:center;
    padding: 10px;
    margin: 10px;}
